{{define "content"}}
    <table class="table table-bordered" id="grid">
    {{range .Cells}}
        <tr>        
        {{range .}}
            <td class="noselect" data-id="{{.}}"></td>
        {{end}}
        </tr>
    {{end}}
    </table>
{{end}}